* {
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
  margin: 0;
}

body {
  background-image: url(../assets/images/wallpaper.jpg);
}

header {
  background-color: #58ACFA;
  z-index: 1000;
}

header h1 {
  color: #FFF;
  text-align: center;
  font-size: 50px;
  margin: 0px;
  padding: 5px;
}
